@charset "UTF-8";
@font-face {
  font-family: 'Avenir Next Cyr Bold';
  src: url("../fonts/AvenirNextCyr-Bold.eot");
  src: url("../fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

@media (max-width: 1600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  color: #212f3d;
  font-family: "Bebas Neue Bold";
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding-bottom: 5.625rem;
}

.header {
  position: relative;
  height: 67.5rem;
  padding-top: 2.5rem;
  padding-bottom: 20.625rem;
  background-image: url("../img/bg-header.png");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0e1d29;
  margin-bottom: 7.5rem;
}

.header_parallax {
  width: 40rem;
  height: 40rem;
  background: url(../img/dumbells.png) no-repeat;
  position: absolute;
  top: 53.125rem;
  left: -18.125rem;
  z-index: 5;
}

@media (max-width: 1600px) {
  .header_parallax {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    width: 50rem;
    height: 50rem;
    left: -24rem;
    top: 48rem;
  }
}

@media (max-width: 1400px) {
  .header_parallax {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    width: 53rem;
    height: 50rem;
    top: 35rem;
  }
}

@media (max-width: 1200px) {
  .header_parallax {
    display: none !important;
  }
}

.logo a {
  display: inline-block;
  vertical-align: super;
  height: 20px;
  color: #fff;
  font-family: "Avenir Next Cyr";
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.6875rem;
  padding-top: 2.5rem;
  padding-right: 2.4375rem;
  text-decoration: none;
}

.logo small {
  display: inline-block;
  width: 1px;
  height: 1.875rem;
  background-color: #fff;
  opacity: 0.2;
  margin-right: 2.4375rem;
}

@media (max-width: 327px) {
  .logo small {
    background-color: transparent;
  }
}

.logo span {
  display: inline-block;
  width: 8.1875rem;
  height: 2.125rem;
  color: #fff;
  font-family: "Avenir Next Cyr";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.125rem;
}

@media (max-width: 768px) {
  .contacts {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contacts_phone {
  color: #fff;
  font-family: "Avenir Next Cyr";
  font-size: 1.25rem;
  font-weight: 500;
}

.contacts_social-icons ul {
  list-style-type: none;
}

.contacts_social-icons ul li {
  display: inline-block;
  margin-left: 0.8125rem;
}

.contacts_social-icons ul li:first-child {
  margin-left: 0px;
}

.contacts_social-icons ul li a {
  color: #fff;
}

.contacts_social-icons ul li a:hover {
  color: #cccccc;
}

.hero-title {
  max-width: 40.125rem;
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-size: 6.625em;
  font-weight: 400;
  line-height: 6.875rem;
  letter-spacing: 0.4969rem;
  padding-top: 2.075rem;
  margin-bottom: 3.125rem;
}

@media (max-width: 1700px) {
  .hero-title {
    font-size: 5.3rem;
    line-height: 5.4rem;
    padding-top: 2rem;
  }
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 4rem;
  }
}

.subtitle {
  color: #ffffff;
  font-family: "Avenir Next Cyr";
  font-size: 1.6875rem;
  font-weight: 500;
  line-height: 1.1875rem;
  margin-top: 3.125rem;
}

.btn {
  display: block;
  margin-top: 5.625rem;
  width: 20rem;
  height: 4.6875rem;
  -webkit-box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
          box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
  -webkit-border-radius: 2.375rem;
          border-radius: 2.375rem;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn a {
  display: block;
  width: 20rem;
  height: 4.6875rem;
  text-shadow: 0 2px 21px rgba(239, 255, 252, 0.46);
  color: #ffffff;
  font-family: "Avenir Next Cyr";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 4.2;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#0eb595), to(#48d7bb));
  background-image: -webkit-linear-gradient(right, #0eb595 0%, #48d7bb 100%);
  background-image: -o-linear-gradient(right, #0eb595 0%, #48d7bb 100%);
  background-image: linear-gradient(to left, #0eb595 0%, #48d7bb 100%);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  z-index: -1;
}

.btn:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  z-index: -1;
  background-image: -webkit-gradient(linear, right top, left top, from(#48d7bb), to(#0eb595));
  background-image: -webkit-linear-gradient(right, #48d7bb 0%, #0eb595 100%);
  background-image: -o-linear-gradient(right, #48d7bb 0%, #0eb595 100%);
  background-image: linear-gradient(to left, #48d7bb 0%, #0eb595 100%);
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.btn:hover:after {
  opacity: 1;
}

.btn:active:after {
  opacity: 0;
}

.advantages h2 {
  text-align: center;
}

.advantages_title {
  max-width: 205px;
  color: #212f3d;
  font-family: "Avenir Next Cyr";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.advantages_item {
  width: 265px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.about {
  margin-top: 150px;
}

@media (max-width: 992px) {
  .about {
    margin-top: 0;
  }
}

.about_wrapper {
  position: relative;
  width: 1140px;
  height: 673px;
  background-color: #f8fbfa;
}

@media (max-width: 1250px) {
  .about_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about_img {
  width: 687px;
  height: 706px;
  position: absolute;
  top: -33px;
  left: -120px;
}

@media (max-width: 1200px) {
  .about_img {
    width: 100%;
    left: -300px;
  }
}

@media (max-width: 992px) {
  .about_img {
    display: none;
  }
}

@media (max-width: 992px) {
  .about_text-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

.about_title {
  padding-bottom: 10px;
  padding-top: 80px;
}

.about_text {
  width: 437px;
  color: #212f3d;
  font-family: "Avenir Next Cyr";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

@media (max-width: 500px) {
  .about_text {
    font-size: 14px;
    width: 260px;
  }
}

.about_btn {
  margin-top: 6.25rem;
  width: 16.4375rem;
  height: 4.375rem;
  border: 2px solid #28c4a6;
  text-align: center;
  -webkit-border-radius: 2.1875rem;
          border-radius: 2.1875rem;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.about_btn:hover {
  background-color: #28c4a6;
  border: 2px solid transparent;
}

.about_btn a {
  display: block;
  width: 16.4375rem;
  height: 4.375rem;
  text-shadow: 0 2px 21px rgba(239, 255, 252, 0.46);
  color: #28c4a6;
  font-family: "Avenir Next Cyr";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 3.5;
  text-transform: uppercase;
  text-decoration: none;
}

.about_btn a:hover {
  color: #fff;
}

.subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 110px;
  text-align: center;
}

@media (max-width: 992px) {
  .subscribe {
    padding-top: 0;
  }
}

.subscribe_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_title {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0;
  line-height: 2;
}

.subscribe p {
  padding-bottom: 40px;
  color: #212f3d;
  font-family: "Avenir Next Cyr";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.subscribe small {
  display: block;
  color: #6e837f;
  font-family: "Avenir Next Cyr";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 992px) {
  .subscribe small {
    padding-top: 20px;
  }
}

.subscribe small span {
  text-decoration: underline;
}

.subscribe small span a {
  color: #6e837f;
  font-family: "Avenir Next Cyr";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.subscribe_name {
  width: 361px;
  height: 65px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #eff4f3;
  border-color: transparent;
}

@media (max-width: 500px) {
  .subscribe_name {
    width: 280px;
  }
}

.subscribe_phone {
  width: 361px;
  height: 65px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #eff4f3;
  border-color: transparent;
}

@media (max-width: 500px) {
  .subscribe_phone {
    width: 280px;
  }
}

.subscribe input[type="text"] {
  padding-left: 26px;
  font-family: "Avenir Next Cyr";
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.subscribe input[type="text"]:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]::-webkit-input-placeholder {
  color: #6e837f;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]::-moz-placeholder {
  color: #6e837f;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]:-ms-input-placeholder {
  color: #6e837f;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]::-ms-input-placeholder {
  color: #6e837f;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[type="text"]::placeholder {
  color: #6e837f;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.subscribe input[placeholder="Ваше имя"] {
  margin-bottom: 20px;
}

.subscribe input {
  outline: none;
}

.subscribe_input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 764px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .subscribe_input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 380px;
  }
}

@media (max-width: 500px) {
  .subscribe_input-wrapper {
    width: 300px;
  }
}

.subscribe input[type="submit"] {
  display: inline-block;
  width: 20rem;
  height: 4.6875rem;
  -webkit-border-radius: 2.375rem;
          border-radius: 2.375rem;
  border-color: transparent;
  background-color: #23dcb8;
  margin: 0;
  margin-top: 2.4375rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-shadow: 0 2px 21px rgba(239, 255, 252, 0.46);
  color: #ffffff;
  font-family: "Avenir Next Cyr";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 3;
  text-transform: uppercase;
  outline: none;
}

.subscribe input[type="submit"]:hover {
  background-color: #39e0bf;
}

.subscribe input[type="submit"]:focus {
  background-color: #20c6a6;
}

.footer {
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 57.4375rem;
  margin-top: 100px;
  position: relative;
}

.footer_parallax {
  width: 42.3125rem;
  height: 51.375rem;
  background: url(../img/parallax-ball.png) no-repeat;
  position: absolute;
  top: -30.75rem;
  right: -20rem;
  z-index: 10;
}

@media (max-width: 1600px) {
  .footer_parallax {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    top: -50rem;
  }
}

@media (max-width: 1400px) {
  .footer_parallax {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    height: 59rem;
    top: -60rem;
  }
}

@media (max-width: 1200px) {
  .footer_parallax {
    display: none !important;
  }
}

.footer_title {
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  margin: 0;
}

.footer ul {
  list-style-type: none;
  width: 31.5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

@media (max-width: 500px) {
  .footer ul {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: auto;
  }
}

.footer ul li {
  width: 5rem;
  height: 5rem;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
}

.footer ul li:hover {
  background-color: #fff;
  border: 2px solid transparent;
}

.footer ul li a {
  display: block;
  width: 5rem;
  height: 5rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 3;
  padding-right: 5px;
}

.footer ul li a:hover {
  color: #1E2639;
}

.footer_copy-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(31rem);
      -ms-transform: translateY(31rem);
          transform: translateY(31rem);
}

@media (max-width: 1400px) {
  .footer_copy-wrapper {
    width: 800px;
    margin: 0 auto;
    -webkit-transform: translateY(30rem);
        -ms-transform: translateY(30rem);
            transform: translateY(30rem);
  }
}

@media (max-width: 1200px) {
  .footer_copy-wrapper {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .footer_copy-wrapper {
    width: auto;
  }
}

@media (max-width: 400px) {
  .footer_copy-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 345px) {
  .footer_copy-wrapper {
    -webkit-transform: translateY(28rem);
        -ms-transform: translateY(28rem);
            transform: translateY(28rem);
  }
}

.footer span {
  opacity: 0.3;
  color: #ffffff;
  font-family: "Avenir Next Cyr";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
}
/*# sourceMappingURL=style.css.map */